@model Microsoft.AspNetCore.Diagnostics.IExceptionHandlerFeature

<meta http-equiv="refresh" content="10">

<div>An error occured.</div>
<div>@Model.Error.StackTrace</div>
<div><b>@Model.Error.Message</b></div>