@model PrOverviews

<meta http-equiv="refresh" content="600">

@if (Model.Prs.Count > 0)
{
    <div>
        @foreach (var pr in Model.Prs)
        {
            <div>
                <a href=@pr.Link>@pr.Name</a>@if (pr.AlreadyApproved) { <span>&nbsp;✔</span> }
            </div>
        }
    </div>
}

    <div>LastUpdated: @Model.LastUpdated</div>