@model PrOverviews

<meta http-equiv="refresh" content="600">
<script type="text/javascript">
    window.onfocus = function () {
        $.get('/Home/Focus', function(data, status) { console.log(status) });
    }
</script>

<script type="text/javascript">
    window.onblur = function () {
        $.get('/Home/Blur', function (data, status) { console.log(status) });
    }
</script>

@if (Model.NewPrs)
{
    <script type="text/javascript">
        document.title = "🔴"
    </script>
}

@if (Model.Prs.Count > 0)
{
    <div>
        @foreach (var pr in Model.Prs)
        {
            <div>
                <a href=@pr.Link>@pr.Name</a>@if (pr.AlreadyApproved) { <span>&nbsp;✔</span> }
            </div>
        }
    </div>
}

    <div>LastUpdated: @Model.LastUpdated</div>